/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-ico-1-name: 's-ico-1';
$s-ico-1-x: 177px;
$s-ico-1-y: 77px;
$s-ico-1-offset-x: -177px;
$s-ico-1-offset-y: -77px;
$s-ico-1-width: 13px;
$s-ico-1-height: 19px;
$s-ico-1-total-width: 195px;
$s-ico-1-total-height: 129px;
$s-ico-1-image: '../img/sprite.png';
$s-ico-1: (177px, 77px, -177px, -77px, 13px, 19px, 195px, 129px, '../img/sprite.png', 's-ico-1', );
$s-ico-10-name: 's-ico-10';
$s-ico-10-x: 122px;
$s-ico-10-y: 0px;
$s-ico-10-offset-x: -122px;
$s-ico-10-offset-y: 0px;
$s-ico-10-width: 35px;
$s-ico-10-height: 32px;
$s-ico-10-total-width: 195px;
$s-ico-10-total-height: 129px;
$s-ico-10-image: '../img/sprite.png';
$s-ico-10: (122px, 0px, -122px, 0px, 35px, 32px, 195px, 129px, '../img/sprite.png', 's-ico-10', );
$s-ico-11-name: 's-ico-11';
$s-ico-11-x: 0px;
$s-ico-11-y: 59px;
$s-ico-11-offset-x: 0px;
$s-ico-11-offset-y: -59px;
$s-ico-11-width: 37px;
$s-ico-11-height: 34px;
$s-ico-11-total-width: 195px;
$s-ico-11-total-height: 129px;
$s-ico-11-image: '../img/sprite.png';
$s-ico-11: (0px, 59px, 0px, -59px, 37px, 34px, 195px, 129px, '../img/sprite.png', 's-ico-11', );
$s-ico-2-name: 's-ico-2';
$s-ico-2-x: 177px;
$s-ico-2-y: 0px;
$s-ico-2-offset-x: -177px;
$s-ico-2-offset-y: 0px;
$s-ico-2-width: 18px;
$s-ico-2-height: 18px;
$s-ico-2-total-width: 195px;
$s-ico-2-total-height: 129px;
$s-ico-2-image: '../img/sprite.png';
$s-ico-2: (177px, 0px, -177px, 0px, 18px, 18px, 195px, 129px, '../img/sprite.png', 's-ico-2', );
$s-ico-3-name: 's-ico-3';
$s-ico-3-x: 42px;
$s-ico-3-y: 113px;
$s-ico-3-offset-x: -42px;
$s-ico-3-offset-y: -113px;
$s-ico-3-width: 15px;
$s-ico-3-height: 15px;
$s-ico-3-total-width: 195px;
$s-ico-3-total-height: 129px;
$s-ico-3-image: '../img/sprite.png';
$s-ico-3: (42px, 113px, -42px, -113px, 15px, 15px, 195px, 129px, '../img/sprite.png', 's-ico-3', );
$s-ico-4-name: 's-ico-4';
$s-ico-4-x: 177px;
$s-ico-4-y: 38px;
$s-ico-4-offset-x: -177px;
$s-ico-4-offset-y: -38px;
$s-ico-4-width: 15px;
$s-ico-4-height: 19px;
$s-ico-4-total-width: 195px;
$s-ico-4-total-height: 129px;
$s-ico-4-image: '../img/sprite.png';
$s-ico-4: (177px, 38px, -177px, -38px, 15px, 19px, 195px, 129px, '../img/sprite.png', 's-ico-4', );
$s-ico-5-name: 's-ico-5';
$s-ico-5-x: 0px;
$s-ico-5-y: 113px;
$s-ico-5-offset-x: 0px;
$s-ico-5-offset-y: -113px;
$s-ico-5-width: 22px;
$s-ico-5-height: 16px;
$s-ico-5-total-width: 195px;
$s-ico-5-total-height: 129px;
$s-ico-5-image: '../img/sprite.png';
$s-ico-5: (0px, 113px, 0px, -113px, 22px, 16px, 195px, 129px, '../img/sprite.png', 's-ico-5', );
$s-ico-6-name: 's-ico-6';
$s-ico-6-x: 0px;
$s-ico-6-y: 0px;
$s-ico-6-offset-x: 0px;
$s-ico-6-offset-y: 0px;
$s-ico-6-width: 41px;
$s-ico-6-height: 39px;
$s-ico-6-total-width: 195px;
$s-ico-6-total-height: 129px;
$s-ico-6-image: '../img/sprite.png';
$s-ico-6: (0px, 0px, 0px, 0px, 41px, 39px, 195px, 129px, '../img/sprite.png', 's-ico-6', );
$s-ico-7-name: 's-ico-7';
$s-ico-7-x: 61px;
$s-ico-7-y: 0px;
$s-ico-7-offset-x: -61px;
$s-ico-7-offset-y: 0px;
$s-ico-7-width: 41px;
$s-ico-7-height: 39px;
$s-ico-7-total-width: 195px;
$s-ico-7-total-height: 129px;
$s-ico-7-image: '../img/sprite.png';
$s-ico-7: (61px, 0px, -61px, 0px, 41px, 39px, 195px, 129px, '../img/sprite.png', 's-ico-7', );
$s-ico-8-name: 's-ico-8';
$s-ico-8-x: 57px;
$s-ico-8-y: 59px;
$s-ico-8-offset-x: -57px;
$s-ico-8-offset-y: -59px;
$s-ico-8-width: 37px;
$s-ico-8-height: 33px;
$s-ico-8-total-width: 195px;
$s-ico-8-total-height: 129px;
$s-ico-8-image: '../img/sprite.png';
$s-ico-8: (57px, 59px, -57px, -59px, 37px, 33px, 195px, 129px, '../img/sprite.png', 's-ico-8', );
$s-ico-9-name: 's-ico-9';
$s-ico-9-x: 122px;
$s-ico-9-y: 52px;
$s-ico-9-offset-x: -122px;
$s-ico-9-offset-y: -52px;
$s-ico-9-width: 28px;
$s-ico-9-height: 28px;
$s-ico-9-total-width: 195px;
$s-ico-9-total-height: 129px;
$s-ico-9-image: '../img/sprite.png';
$s-ico-9: (122px, 52px, -122px, -52px, 28px, 28px, 195px, 129px, '../img/sprite.png', 's-ico-9', );
$spritesheet-width: 195px;
$spritesheet-height: 129px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($s-ico-1, $s-ico-10, $s-ico-11, $s-ico-2, $s-ico-3, $s-ico-4, $s-ico-5, $s-ico-6, $s-ico-7, $s-ico-8, $s-ico-9, );
$spritesheet: (195px, 129px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
