@import "../bower/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "_sprite.scss";
@import "_fonts.scss";

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
	height: 100%;
}
html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner, html.js .loader_inner::before, html.js .loader_inner::after {
	border: 3px solid transparent;
	border-radius: 50%;
}
html.js .loader_inner {
	border-top-color: #bac900;
	height: 150px;
	left: 50%;
	margin: -75px 0 0 -75px;
	position: absolute;
	top: 50%;
	width: 150px;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;

}
html.js .loader_inner::before, html.js .loader_inner::after {
	content: '';
	position: absolute;
}
html.js .loader_inner::before{
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-top-color: #00abd4;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 2s infinite linear;
}
html.js .loader_inner::after{
	top: 23px;
	left: 23px;
	right: 23px;
	bottom: 23px;
	border-top-color: #ff1400;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 3s infinite linear;
}
@-webkit-keyframes spin {
	from { 
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to { 
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	from { 
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to { 
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 14px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.modal {
	display: none;
	h2 {
		text-align: center;
	}
}
.control {
	margin: 0 0 10px 0;
}
label {
	display: block;
}
input[type=text],
input[type=password] {
	background: #fff;
	border: 1px solid #d3d3d3;
	border-radius: 8px;
	height: 29px;
	padding: 0 8px;
	width: 92%;
}
input[type=submit],
button {
	background-color: #85024f;
	background-image: linear-gradient(to top, #85024f 0px, #eb008b 100%);
	border: none;
	border-radius: 10px;
	color: #fff;
	font: 17px Arial;
	padding: 11px 26px;
	text-decoration: none;
	text-transform: uppercase;
	&:hover {
		background-image: linear-gradient(to top, #eb008b 0px, #85024f 100%);
	}
}
.wrapper {
	width: 1280px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding: 0 0 52px;
}
h1 {
	color: #000;
	font: bold 35px Arial;
	text-align: center;
	text-transform: uppercase;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 185px;
	.head-top {
		border-bottom: 1px solid #c9c9c9;
		height: 34px;
		line-height: 34px;
		.left {
			float: left;
			.selecter {
				line-height: 34px;
				margin: 0;
				max-width: 135px;
				width: 135px;
				.selecter-selected {
					border: none;
					color: #000;
					font: bold 13px/34px Arial;
					height: 34px;
					padding: 0 19px;
					&::after {
						border-top: 5px solid #000;
					}
				}
			}
		}
		.right {
			float: right;
			a {
				color: #000;
				font: 13px Arial;
				text-decoration: none;
				&:hover {
					color: #ec008c;
				}
				span {
					font-weight: bold;
				}
			}
			.auth {
				border-right: 1px solid #d5d5d5;
				margin: 0 13px 0 0;
				padding: 0 13px 0 0;
				i {
					@include sprite($s-ico-1);
					display: inline-block;
					margin: 0 6px 0 0;
				}
			}
			.mycart_wrapp {
				display: inline-block;
			}
			.cart {
				border: none;
				margin: 0 20px 0 0;
				i {
					@include sprite($s-ico-2);
					display: inline-block;
					margin: 0 6px 0 0;
				}
			}
		}
	}
	.head-center {
		padding: 0 20px;
		div {
			float: left;
		}
		.advantages {
			margin: 28px 100px 0 0;
			width: 450px;
			p {
				color: #000;
				font: 13px Arial;
				display: inline-block;
				text-transform: uppercase;
			}
			.delivery {
				margin-right: 33px;
				i {
					@include sprite($s-ico-5);
					display: inline-block;
					margin: 0 9px 0 0;
					vertical-align: middle;
				}
			}
			.pickup {
				i {
					@include sprite($s-ico-4);
					display: inline-block;
					margin: 0 7px 0 0;
					vertical-align: middle;
				}
			}
		}
		.logo {
			margin: -10px 100px 0 0;
			width: 169px;
		}
		.wrap-phone {
			margin: 24px 0 0;
			width: 220px;
			p {
				color: #000;
				font: 15px Arial;
				span {
					font: bold 15px Arial; 
				}
			}
		}
		.search {
			float: right;
			margin: 34px 0 0;
			.form_item {
				position: relative;
			}
			input[type=text],
			input[type=search] {
				background: #fff;
				border: 1px solid #d3d3d3;
				border-radius: 8px;
				height: 29px;
				padding: 0 8px;
				width: 139px;
			}
			input[type=submit] {
				background-color: #fff;
				border-radius: none;
				@include sprite($s-ico-3);
				border: none;
				padding: 0;
				position: absolute;
				right: 10px;
				text-indent: -9999px;
				top: 7px;
			}
		}
	}
	.main-menu {
		background: #f2f2f2;
		display: table;
		height: 35px;
		line-height: 35px;
		margin: 11px 0 0;
		width: 100%;
		ul {
			display: table-row;
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: table-cell;
				text-align: center;
				a {
					color: #000;
					font: 14px Arial;
					text-decoration: none;
					text-transform: uppercase;
					&:hover {
						color: #ec008c;
					}
				}
			}
		}
	}
} // End .header


/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 212px;
}
.bx-wrapper {
	border: none;
	box-shadow: none;
}
.bxSlider {
	.year-collection {
		p {
			background: rgba(0, 0, 0, 0.5);
			bottom: 116px;
			color: #fff;
			display: block;
			font: 37px/53px Arial;
			left: 50%;
			margin: 0 0 0 -217px;
			padding: 23px 41px;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
		}
		.btn {
			border-radius: 10px;
			background-color: #85024F;
			background-image: linear-gradient(to top, #85024F 0%, #EB008B 100%);
			bottom: 42px;
			left: 50%;
			margin-left: -80px;
			padding: 11px 26px;
			position: absolute;
			color: #FFF;
			font: 17px "Arial";
			text-transform: uppercase;
			text-decoration: none;
			&:hover {
				background-image: linear-gradient(to top, #EB008B 0%, #85024F 100%);
			}
		}
	}
}
.wrap-hit {
	position: relative;
	.bx-wrapper {
		width: 1128px;
		.bx-pager.bx-default-pager {
			a {
				background: #ccc;
				&:hover {
					background: #ec008c;
				}
			}
			.active {
				background: #ec008c;
			}
		}
	}
	.hitSlider {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			a {
				text-decoration: none;
			}
			img {
				display: block;
				height: 284px;
				margin: 0 auto 48px;
			}
			span {
				display: block;
				text-align: center;
			}
			.name {
				color: #7c7c7c;
				font: 14px Arial;
				text-decoration: none;
			}
			.price {
				color: #000;
				font: 16px Arial;
			}
		}
	}
	.bx-controls {
		.bx-prev {
			@include sprite($s-ico-6);
			left: -48px;
		}
		.bx-next {
			@include sprite($s-ico-7);
			right: -48px;
		}
	}
}
.banners {
	.banner-left {
		float: left;
	}
	.banner-right {
		float: right;
		position: relative;
		img {
			display: block;
		}
		.discount {
			background: rgba(0, 0, 0, 0.6);
			border-radius: 50%;
			color: #d8d8d8;
			display: table-cell;
			font: 85px/1 Arial;
			padding: 0;
			text-align: center;
			vertical-align: middle;
			height: 240px;
			width: 240px;
			position: absolute;
			top: 170px;
			left: 11px;
			.banner-text {
				margin: 50px 0 0;
			}
			i {
				display: block;
				font-size: 30px;
				text-transform: uppercase;
			}
		}
	}
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	border-top: 1px solid #c9c9c9;
	width: 1280px;
	margin: -212px auto 0;
	padding: 33px 0 0;
	height: 212px;
	position: relative;
	.left {
		float: left;
	}
	.right {
		float: right;
		padding: 0 42px 0 0;
	}
	.contact {
		float: left;
		margin: 0 85px 0 42px;
		p {
			color: #000;
			font: 16px Arial;
			margin: 0 0 10px;
		}
	}
	.foot_bottom {
		margin: 0 0 0 340px;
	}
}
.soc-menu {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			a {
				display: block;
				text-indent: -9999px;
			}
			.vk {
				@include sprite($s-ico-8);
			}
			.fb {
				@include sprite($s-ico-9);
				margin: -1px 0 0 0;
			}
			.tw {
				@include sprite($s-ico-10);
				margin: -3px 0 0 0;
			}
			.ig {
				@include sprite($s-ico-11);
				margin: -5px 0 0 0;
			}
		}
	}
}
.foot_menu {
	float: left;
	height: 72px;
	margin: 0 0 31px;
	width: 385px;
	.column {
		float: left;
		width: 50%;
	}
	ul {
		line-height: 21px;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-table;
			width: 95%;
			a {
				color: #000;
				font: 14px Arial;
				text-decoration: none;
				&:hover {
					color: #ec008c;
				}
			}
		}
	}
}
.wrap-subscribe {
	background: url("../img/bg-subscribe.gif") no-repeat top center;
	height: 176px;
	width: 452px;
	.subscribe {
		margin: 0 auto;
		padding: 78px 0 0;
		width: 380px;
		input[type=text] {
			background: #fff;
			border: 2px solid #000;
			border-radius: 0;
			color: #989694;
			font: 13px Arial;
			height: auto;
			padding: 9px 13px;
			width: 230px;
		}
		input[type=submit] {
			background: #000;
			border: none;
			border-radius: 0;
			color: #fff;
			font: 13px Arial;
			padding: 11px 17px;
			text-decoration: none;
			text-transform: none
		}
	}
}
.copy {
	border-top: 1px solid #c9c9c9;
	color: #000;
	font: 14px Arial;
	margin: 18px 0 0 0;
	padding: 19px 0;
	text-align: center;
}
@import "_helper.scss";
@import "_print.scss";